

.layout--interest {
    height: 100vh;
    background-color: #ddd;
}

.layout--client {
    height: 80vh;
    background-color: #fff;
}

.layout--enjoy {
    height: 100vh;
    background-color:rgb(41, 97, 172)
}

.layout--search {
    height: 60vh;
    background-color: #fff;
}