
/* ----------------- COLORES ---------------*/
$color-claro: white;
$color-semi: #eee;
$color-oscuro: rgb(18, 68, 134);
$color-pie: rgb(26,162,167);

$color-semi-a: #aaa;
$color-semi-b: #888;
$color-semi-c: #666;

$color-oscuroA: #090464;
$color-oscuroB: #052c74;
$color-oscuroC: #2084b5;
$color-oscuroD: #4cb7d3;


/* ---------------- FUENTES ------------------*/
$font-r: 'Roboto';
$font-s: 'sans-serif';




