.container {
    display: flex;
    flex-direction: column;
}

.container__item--news {
   
    background-color: #eee;
}

.container__item--client {
    height: 100vh;
    background-color: #fff;
}

.container__item--enjoy {
    height: 100vh;
    background-color: #183f83;
}

.container__item--search {
    height: 60vh;
    background-color: #fff;
}